.square {
  background-color: black;
  height: 5em;
  width: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 1rem;
}

.square-id {
  color: white;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}
